In [1]:
import numpy as np
import pandas as pd

In [4]:
a= np.array([1,2,3,4,5])
print(a)

[1 2 3 4 5]

In [5]:
a.ndim

1

In [6]:
l= [1,2,3]
a=np.array([[l,l,l],[l,l,l]])
print(a)
print(a.ndim)

[[[1 2 3]
  [1 2 3]
  [1 2 3]]

 [[1 2 3]
  [1 2 3]
  [1 2 3]]]
3

In [7]:
a=np.arange(1,101)
print(a)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]

In [8]:
a=np.arange(1,100000001)
c=0
for i in a:
    c+=1
print(c)

100000000

In [9]:
a[24:50]

array([25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
       42, 43, 44, 45, 46, 47, 48, 49, 50])

In [10]:
a=np.arange(1,301).reshape(3,20,5)

In [11]:
a[0][0][2]

3

In [ ]:
a[0:1][0][1:4]

array([[ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [ ]:
a

array([[[  1,   2,   3,   4,   5],
        [  6,   7,   8,   9,  10],
        [ 11,  12,  13,  14,  15],
        [ 16,  17,  18,  19,  20],
        [ 21,  22,  23,  24,  25],
        [ 26,  27,  28,  29,  30],
        [ 31,  32,  33,  34,  35],
        [ 36,  37,  38,  39,  40],
        [ 41,  42,  43,  44,  45],
        [ 46,  47,  48,  49,  50],
        [ 51,  52,  53,  54,  55],
        [ 56,  57,  58,  59,  60],
        [ 61,  62,  63,  64,  65],
        [ 66,  67,  68,  69,  70],
        [ 71,  72,  73,  74,  75],
        [ 76,  77,  78,  79,  80],
        [ 81,  82,  83,  84,  85],
        [ 86,  87,  88,  89,  90],
        [ 91,  92,  93,  94,  95],
        [ 96,  97,  98,  99, 100]],

       [[101, 102, 103, 104, 105],
        [106, 107, 108, 109, 110],
        [111, 112, 113, 114, 115],
        [116, 117, 118, 119, 120],
        [121, 122, 123, 124, 125],
        [126, 127, 128, 129, 130],
        [131, 132, 133, 134, 135],
        [136, 137, 138, 139, 140],
        [141, 142, 143, 144, 145],
        [146, 147, 148, 149, 150],
        [151, 152, 153, 154, 155],
        [156, 157, 158, 159, 160],
        [161, 162, 163, 164, 165],
        [166, 167, 168, 169, 170],
        [171, 172, 173, 174, 175],
        [176, 177, 178, 179, 180],
        [181, 182, 183, 184, 185],
        [186, 187, 188, 189, 190],
        [191, 192, 193, 194, 195],
        [196, 197, 198, 199, 200]],

       [[201, 202, 203, 204, 205],
        [206, 207, 208, 209, 210],
        [211, 212, 213, 214, 215],
        [216, 217, 218, 219, 220],
        [221, 222, 223, 224, 225],
        [226, 227, 228, 229, 230],
        [231, 232, 233, 234, 235],
        [236, 237, 238, 239, 240],
        [241, 242, 243, 244, 245],
        [246, 247, 248, 249, 250],
        [251, 252, 253, 254, 255],
        [256, 257, 258, 259, 260],
        [261, 262, 263, 264, 265],
        [266, 267, 268, 269, 270],
        [271, 272, 273, 274, 275],
        [276, 277, 278, 279, 280],
        [281, 282, 283, 284, 285],
        [286, 287, 288, 289, 290],
        [291, 292, 293, 294, 295],
        [296, 297, 298, 299, 300]]])

In [ ]:
a=np.arange(1,101).reshape(10,10)

In [ ]:
a=pd.DataFrame(a)

In [ ]:
a[[0]]

    0
0   1
1  11
2  21
3  31
4  41
5  51
6  61
7  71
8  81
9  91

In [ ]:
import pandas as pd
import numpy as np

In [13]:
d={'a':[1,2,3,4,5],'b':[6,7,8,9,9]}
df=pd.DataFrame(d)
df

   a  b
0  1  6
1  2  7
2  3  8
3  4  9
4  5  9

In [ ]:
df=pd.DataFrame(np.arange(1,51).reshape(10,5))
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25
5  26  27  28  29  30
6  31  32  33  34  35
7  36  37  38  39  40
8  41  42  43  44  45
9  46  47  48  49  50

In [ ]:
print(df.loc[1:4])
print(df.iloc[2])

    0   1   2   3   4
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25
0    11
1    12
2    13
3    14
4    15
Name: 2, dtype: int32

In [ ]:
df[[4,3]]

    4   3
0   5   4
1  10   9
2  15  14
3  20  19
4  25  24
5  30  29
6  35  34
7  40  39
8  45  44
9  50  49

In [ ]:
df.shape

(10, 5)

In [ ]:
df.ndim

2

In [ ]:
len(df)

10

In [ ]:
d={'name':['rohit','rakesh','chintu'],'age':[12,14,11]}
df=pd.DataFrame(d)
df

NameError: name 'pd' is not defined

In [ ]:
df=pd.Series([1,2,3,4,4,4,4,5],name='num')
df

0    1
1    2
2    3
3    4
4    4
5    4
6    4
7    5
Name: num, dtype: int64

In [ ]:
df=pd.Series(list('hello'))
df

0    h
1    e
2    l
3    l
4    o
dtype: object

### Pandas series can hold any type of data within the series

In [ ]:
l=['as',34,565.67]
df=pd.Series(l)
df
type(df[1])

int

In [ ]:
df=np.array(['as','er'])
print(df)

['as' 'er']

In [ ]:
s='hello'
l=list(s)
l

['h', 'e', 'l', 'l', 'o']

In [ ]:
arr=np.array(l)
arr

array(['h', 'e', 'l', 'l', 'o'], dtype='<U1')

In [14]:
df

   a  b
0  1  6
1  2  7
2  3  8
3  4  9
4  5  9

In [26]:
df.iloc[1:4]

   a  b
1  2  7
2  3  8
3  4  9

In [25]:
df.loc[1:4]

   a  b
1  2  7
2  3  8
3  4  9
4  5  9

In [27]:
 #creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])

In [29]:
print(data,data1)

a    5
b    2
c    3
d    7
dtype: int64 a    1
b    6
d    4
e    9
dtype: int64

In [30]:
data.add(data1)

a     6.0
b     8.0
c     NaN
d    11.0
e     NaN
dtype: float64

In [31]:
data1.sub(data)

a   -4.0
b    4.0
c    NaN
d   -3.0
e    NaN
dtype: float64

In [32]:
df=pd.DataFrame(np.arange(1,101).reshape(10,10))

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     int32
 1   1       10 non-null     int32
 2   2       10 non-null     int32
 3   3       10 non-null     int32
 4   4       10 non-null     int32
 5   5       10 non-null     int32
 6   6       10 non-null     int32
 7   7       10 non-null     int32
 8   8       10 non-null     int32
 9   9       10 non-null     int32
dtypes: int32(10)
memory usage: 532.0 bytes

In [37]:
df[5]=df[5].astype(str)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     int32
 1   1       10 non-null     int32
 2   2       10 non-null     int32
 3   3       10 non-null     int32
 4   4       10 non-null     int32
 5   5       10 non-null     object
 6   6       10 non-null     int32
 7   7       10 non-null     int32
 8   8       10 non-null     int32
 9   9       10 non-null     int32
dtypes: int32(9), object(1)
memory usage: 572.0+ bytes

In [41]:
df.rename({5:'hello'},axis=1)

    0   1   2   3   4 hello   6   7   8    9
0   1   2   3   4   5     6   7   8   9   10
1  11  12  13  14  15    16  17  18  19   20
2  21  22  23  24  25    26  27  28  29   30
3  31  32  33  34  35    36  37  38  39   40
4  41  42  43  44  45    46  47  48  49   50
5  51  52  53  54  55    56  57  58  59   60
6  61  62  63  64  65    66  67  68  69   70
7  71  72  73  74  75    76  77  78  79   80
8  81  82  83  84  85    86  87  88  89   90
9  91  92  93  94  95    96  97  98  99  100

In [51]:
l1='abcdefghij'
l1=list(l1)
l1
l2=list(range(10))
l2
d=dict(zip(l2,l1))
d

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'e',
 5: 'f',
 6: 'g',
 7: 'h',
 8: 'i',
 9: 'j'}

In [67]:
df=df.rename(d,axis=1)

In [68]:
df.count()

a    10
b    10
c    10
d    10
e    10
f    10
g    10
h    10
i    10
j    10
dtype: int64

In [70]:
df['e'].sum()

500

In [75]:
df['c'].std()

30.276503540974915

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       10 non-null     int32
 1   b       10 non-null     int32
 2   c       10 non-null     int32
 3   d       10 non-null     int32
 4   e       10 non-null     int32
 5   f       10 non-null     object
 6   g       10 non-null     int32
 7   h       10 non-null     int32
 8   i       10 non-null     int32
 9   j       10 non-null     int32
dtypes: int32(9), object(1)
memory usage: 572.0+ bytes

In [3]:
df = pd.DataFrame({'a':[1,2,2,3],'b':[6,2,2,4]})

In [7]:
df.duplicated()

0    False
1    False
2     True
3    False
dtype: bool

In [14]:
 df.loc[df.duplicated(keep=False)]

   a  b
1  2  2
2  2  2

In [15]:
 df.duplicated(keep=False).sum()

2

In [16]:
 df.duplicated().sum()

1

In [17]:
df_copy = df.copy()

In [18]:
df_copy

   a  b
0  1  6
1  2  2
2  2  2
3  3  4

In [19]:
df.copy?

Signature: df.copy(deep: 'bool_t | None' = True) -> 'NDFrameT'
Docstring:
Make a copy of this object's indices and data.

When ``deep=True`` (default), a new object will be created with a
copy of the calling object's data and indices. Modifications to
the data or indices of the copy will not be reflected in the
original object (see notes below).

When ``deep=False``, a new object will be created without copying
the calling object's data or index (only references to the data
and index are copied). Any changes to the data of the original
will be reflected in the shallow copy (and vice versa).

Parameters
----------
deep : bool, default True
    Make a deep copy, including a copy of the data and the indices.
    With ``deep=False`` neither the indices nor the data are copied.

Returns
-------
Series or DataFrame
    Object type matches caller.

Notes
-----
When ``deep=True``, data is copied but actual Python objects
will not be copied recursively, only the reference to the object.
This is in contrast to `copy.deepcopy` in the Standard Library,
which recursively copies object data (see examples below).

While ``Index`` objects are copied when ``deep=True``, the underlying
numpy array is not copied for performance reasons. Since ``Index`` is
immutable, the underlying data can be safely shared and a copy
is not needed.

Since pandas is not thread safe, see the
:ref:`gotchas <gotchas.thread-safety>` when copying in a threading
environment.

Examples
--------
>>> s = pd.Series([1, 2], index=["a", "b"])
>>> s
a    1
b    2
dtype: int64

>>> s_copy = s.copy()
>>> s_copy
a    1
b    2
dtype: int64

**Shallow copy versus default (deep) copy:**

>>> s = pd.Series([1, 2], index=["a", "b"])
>>> deep = s.copy()
>>> shallow = s.copy(deep=False)

Shallow copy shares data and index with original.

>>> s is shallow
False
>>> s.values is shallow.values and s.index is shallow.index
True

Deep copy has own copy of data and index.

>>> s is deep
False
>>> s.values is deep.values or s.index is deep.index
False

Updates to the data shared by shallow copy and original is reflected
in both; deep copy remains unchanged.

>>> s[0] = 3
>>> shallow[1] = 4
>>> s
a    3
b    4
dtype: int64
>>> shallow
a    3
b    4
dtype: int64
>>> deep
a    1
b    2
dtype: int64

Note that when copying an object containing Python objects, a deep copy
will copy the data, but will not do so recursively. Updating a nested
data object will be reflected in the deep copy.

>>> s = pd.Series([[1, 2], [3, 4]])
>>> deep = s.copy()
>>> s[0][0] = 10
>>> s
0    [10, 2]
1     [3, 4]
dtype: object
>>> deep
0    [10, 2]
1     [3, 4]
dtype: object
File:      c:\users\deves\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method

In [20]:
df

   a  b
0  1  6
1  2  2
2  2  2
3  3  4

In [23]:
df.loc[1][1]

2

In [24]:
df.loc?

Type:        property
String form: <property object at 0x00000165EA107880>
Docstring:
Access a group of rows and columns by label(s) or a boolean array.

``.loc[]`` is primarily label based, but may also be used with a
boolean array.

Allowed inputs are:

- A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
  interpreted as a *label* of the index, and **never** as an
  integer position along the index).
- A list or array of labels, e.g. ``['a', 'b', 'c']``.
- A slice object with labels, e.g. ``'a':'f'``.

  .. warning:: Note that contrary to usual python slices, **both** the
      start and the stop are included

- A boolean array of the same length as the axis being sliced,
  e.g. ``[True, False, True]``.
- An alignable boolean Series. The index of the key will be aligned before
  masking.
- An alignable Index. The Index of the returned selection will be the input.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above)

See more at :ref:`Selection by Label <indexing.label>`.

Raises
------
KeyError
    If any items are not found.
IndexingError
    If an indexed key is passed and its index is unalignable to the frame index.

See Also
--------
DataFrame.at : Access a single value for a row/column label pair.
DataFrame.iloc : Access group of rows and columns by integer position(s).
DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
    Series/DataFrame.
Series.loc : Access group of values using labels.

Examples
--------
**Getting values**

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...      index=['cobra', 'viper', 'sidewinder'],
...      columns=['max_speed', 'shield'])
>>> df
            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

Single label. Note this returns the row as a Series.

>>> df.loc['viper']
max_speed    4
shield       5
Name: viper, dtype: int64

List of labels. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[['viper', 'sidewinder']]
            max_speed  shield
viper               4       5
sidewinder          7       8

Single label for row and column

>>> df.loc['cobra', 'shield']
2

Slice with labels for row and single label for column. As mentioned
above, note that both the start and stop of the slice are included.

>>> df.loc['cobra':'viper', 'max_speed']
cobra    1
viper    4
Name: max_speed, dtype: int64

Boolean list with the same length as the row axis

>>> df.loc[[False, False, True]]
            max_speed  shield
sidewinder          7       8

Alignable boolean Series:

>>> df.loc[pd.Series([False, True, False],
...        index=['viper', 'sidewinder', 'cobra'])]
            max_speed  shield
sidewinder          7       8

Index (same behavior as ``df.reindex``)

>>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
       max_speed  shield
foo
cobra          1       2
viper          4       5

Conditional that returns a boolean Series

>>> df.loc[df['shield'] > 6]
            max_speed  shield
sidewinder          7       8

Conditional that returns a boolean Series with column labels specified

>>> df.loc[df['shield'] > 6, ['max_speed']]
            max_speed
sidewinder          7

Callable that returns a boolean Series

>>> df.loc[lambda df: df['shield'] == 8]
            max_speed  shield
sidewinder          7       8

**Setting values**

Set value for all items matching the list of labels

>>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
>>> df
            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

Set value for an entire row

>>> df.loc['cobra'] = 10
>>> df
            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

Set value for an entire column

>>> df.loc[:, 'max_speed'] = 30
>>> df
            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

Set value for rows matching callable condition

>>> df.loc[df['shield'] > 35] = 0
>>> df
            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

**Getting values on a DataFrame with an index that has integer labels**

Another example using integers for the index

>>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
...      index=[7, 8, 9], columns=['max_speed', 'shield'])
>>> df
   max_speed  shield
7          1       2
8          4       5
9          7       8

Slice with integer labels for rows. As mentioned above, note that both
the start and stop of the slice are included.

>>> df.loc[7:9]
   max_speed  shield
7          1       2
8          4       5
9          7       8

**Getting values with a MultiIndex**

A number of examples using a DataFrame with a MultiIndex

>>> tuples = [
...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
...    ('viper', 'mark ii'), ('viper', 'mark iii')
... ]
>>> index = pd.MultiIndex.from_tuples(tuples)
>>> values = [[12, 2], [0, 4], [10, 20],
...         [1, 4], [7, 1], [16, 36]]
>>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
>>> df
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Single label. Note this returns a DataFrame with a single index.

>>> df.loc['cobra']
         max_speed  shield
mark i          12       2
mark ii          0       4

Single index tuple. Note this returns a Series.

>>> df.loc[('cobra', 'mark ii')]
max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

Single label for row and column. Similar to passing in a tuple, this
returns a Series.

>>> df.loc['cobra', 'mark i']
max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

Single tuple. Note using ``[[]]`` returns a DataFrame.

>>> df.loc[[('cobra', 'mark ii')]]
               max_speed  shield
cobra mark ii          0       4

Single tuple for the index with a single label for the column

>>> df.loc[('cobra', 'mark i'), 'shield']
2

Slice from index tuple to single label

>>> df.loc[('cobra', 'mark i'):'viper']
                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

Slice from index tuple to index tuple

>>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

Please see the :ref:`user guide<advanced.advanced_hierarchical>`
for more details and explanations of advanced indexing.

In [25]:
df.iloc?

Type:        property
String form: <property object at 0x00000165EA107AB0>
Docstring:
Purely integer-location based indexing for selection by position.

``.iloc[]`` is primarily integer position based (from ``0`` to
``length-1`` of the axis), but may also be used with a boolean
array.

Allowed inputs are:

- An integer, e.g. ``5``.
- A list or array of integers, e.g. ``[4, 3, 0]``.
- A slice object with ints, e.g. ``1:7``.
- A boolean array.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above).
  This is useful in method chains, when you don't have a reference to the
  calling object, but would like to base your selection on some value.
- A tuple of row and column indexes. The tuple elements consist of one of the
  above inputs, e.g. ``(0, 1)``.

``.iloc`` will raise ``IndexError`` if a requested indexer is
out-of-bounds, except *slice* indexers which allow out-of-bounds
indexing (this conforms with python/numpy *slice* semantics).

See more at :ref:`Selection by Position <indexing.integer>`.

See Also
--------
DataFrame.iat : Fast integer location scalar accessor.
DataFrame.loc : Purely label-location based indexer for selection by label.
Series.iloc : Purely integer-location based indexing for
               selection by position.

Examples
--------
>>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
>>> df = pd.DataFrame(mydict)
>>> df
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

**Indexing just the rows**

With a scalar integer.

>>> type(df.iloc[0])
<class 'pandas.core.series.Series'>
>>> df.iloc[0]
a    1
b    2
c    3
d    4
Name: 0, dtype: int64

With a list of integers.

>>> df.iloc[[0]]
   a  b  c  d
0  1  2  3  4
>>> type(df.iloc[[0]])
<class 'pandas.core.frame.DataFrame'>

>>> df.iloc[[0, 1]]
     a    b    c    d
0    1    2    3    4
1  100  200  300  400

With a `slice` object.

>>> df.iloc[:3]
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

With a boolean mask the same length as the index.

>>> df.iloc[[True, False, True]]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

With a callable, useful in method chains. The `x` passed
to the ``lambda`` is the DataFrame being sliced. This selects
the rows whose index label even.

>>> df.iloc[lambda x: x.index % 2 == 0]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

**Indexing both axes**

You can mix the indexer types for the index and columns. Use ``:`` to
select the entire axis.

With scalar integers.

>>> df.iloc[0, 1]
2

With lists of integers.

>>> df.iloc[[0, 2], [1, 3]]
      b     d
0     2     4
2  2000  4000

With `slice` objects.

>>> df.iloc[1:3, 0:3]
      a     b     c
1   100   200   300
2  1000  2000  3000

With a boolean array whose length matches the columns.

>>> df.iloc[:, [True, False, True, False]]
      a     c
0     1     3
1   100   300
2  1000  3000

With a callable function that expects the Series or DataFrame.

>>> df.iloc[:, lambda df: [0, 2]]
      a     c
0     1     3
1   100   300
2  1000  3000

In [29]:
df.iloc[[1,3],[True,False]]

   a
1  2
3  3

In [31]:
df.iloc[list(range(2,4,2))]

   a  b
2  2  2

In [34]:
df.iloc[lambda x :x.index%2==0]

   a  b
0  1  6
2  2  2

In [44]:
help(def)

SyntaxError: invalid syntax (4152005568.py, line 1)

In [45]:
df

   a  b
0  1  6
1  2  2
2  2  2
3  3  4

In [47]:
df.sort_values(by=['b','a'],inplace=True)

In [48]:
df

   a  b
1  2  2
2  2  2
3  3  4
0  1  6

In [49]:
df.drop_duplicates(keep='first')

   a  b
1  2  2
3  3  4
0  1  6

In [59]:
df

1    2
2    2
3    3
0    1
Name: a, dtype: object

In [60]:
df.duplicated(subset='b')

TypeError: Series.duplicated() got an unexpected keyword argument 'subset'

In [56]:
df = df['a'].astype(str)

In [58]:
pd.DataFrame(df)

   a
1  2
2  2
3  3
0  1

In [64]:
df = df_copy.copy()

In [65]:
df

   a  b
0  1  6
1  2  2
2  2  2
3  3  4

In [70]:
df.astype(str)

   a  b
0  1  6
1  2  2
2  2  2
3  3  4

In [74]:
df['a'].dtype

dtype('int64')

In [75]:
df = pd.read_csv('superstore.csv')

In [79]:
df['name'] = df['name'].str.capitalize()

In [84]:
df['name'].str.replace('e','___')

0              Clair___ gut___
1              Clair___ gut___
2              Darrin van huff
3           S___an o'donn___ll
4           S___an o'donn___ll
                 ...
9989    Tom bo___ck___nhau___r
9990             Dav___ brooks
9991             Dav___ brooks
9992             Dav___ brooks
9993            Chris cort___s
Name: name, Length: 9994, dtype: object

In [101]:
df.sample(10)['returns']

744     CA-2015-149636
862     CA-2014-164721
7844    CA-2015-149636
1107    CA-2015-149636
1878    CA-2014-116785
5377               NaN
8448    CA-2014-116785
2046    CA-2014-164721
1815    CA-2014-164721
6176    CA-2014-164721
Name: returns, dtype: object

In [123]:
df['11'] = df['returns'].str.replace('CA','').str.replace('-','').str.replace('2015','').str.replace('2014','')

In [124]:
df['11'].sample(50)

7845        164721
8914        149636
2596        116785
1241        164721
8853        149636
5878        135699
7859           NaN
1008        149636
2994        164721
1059        164721
5592        135699
5637    2016145492
6846        149636
8550        164721
654         164721
9413        164721
8892        164721
5925        116785
8287        135699
4715        149636
5639        135699
7904        164721
4959        166744
5322        149636
9255        135699
874     2016145492
3541        166744
266         116785
4333        164721
1770        116785
6393        164721
6880        164721
4165        149636
3195        166744
535         164721
8372        164721
5052        149636
7407        116785
9562        164721
8621        111948
1126        116785
4756        116785
8128        116785
3339        149636
7883    2016145492
8962        166744
4537        116785
7999        116785
9420        116785
28          149636
Name: 11, dtype: object

In [125]:

df['11'] = df['11'].str.replace('2016','')

In [134]:
a=10
b=a
b= 
print(a)

10