In [5]:
try:
    print(a)
except:
    print("There was an error")

There was an error

In [2]:
a = 56

In [4]:
del a

In [6]:
print(b)

NameError: name 'b' is not defined

In [12]:
d=  {1:100,2:200}
try:
    e[3]
except KeyError:
    print("there is no key")
except:
    print("something is wrong")

something is wrong

In [10]:
a=  "33.6"
try:
    a = int(a)
except ValueError:
    try:
        a = float(a)
    except:
        print("a is not a float or a int so its str")
        a = str(a)
    
        

print(a,type(a))

33.6 <class 'float'>

In [11]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [12]:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [14]:
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

In [18]:
a = 999
b= f"hello the value is {a}"
b

'hello the value is 999'

In [22]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [23]:
print(f"hello val is {45:5f}")

hello val is 45.000000

In [31]:
a = 23455676
print(f"value is {a:,}")
print(f"value is {a:.2f}")
print(f"value is {a:,.4f}")

value is 23,455,676
value is 23455676.00
value is 23,455,676.0000

In [33]:
price = 499
txt = f"It is very {'Expensive' if price>50 else 'Cheap'}"

print(txt)

It is very Expensive

In [38]:
a = 67
print(f"{a:b}")

1000011

In [51]:
a = 32900
len(f"{a:b}")

16

In [56]:
import numpy as np
a = np.int8(4)
a.itemsize

1

In [63]:
a= 0.12
f"{a:%}"

'12.000000%'