In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [12]:
df = pd.read_csv('nifty_data.csv')
df

,Date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr)
0,19-JUN-2023,18873.30,18881.45,18719.15,18755.45,219815214,22699.84
1,20-JUN-2023,18752.35,18839.70,18660.65,18816.70,211649257,19687.08
2,21-JUN-2023,18849.40,18875.90,18794.85,18856.85,217481345,19102.48
3,22-JUN-2023,18853.60,18886.60,18759.50,18771.25,252697871,24990.87
4,23-JUN-2023,18741.85,18756.40,18647.10,18665.50,210562119,20619.60
...,...,...,...,...,...,...,...
243,11-JUN-2024,23283.75,23389.45,23206.65,23264.85,305185666,29190.91
244,12-JUN-2024,23344.45,23441.95,23295.95,23322.95,295630910,31795.48
245,13-JUN-2024,23480.95,23481.05,23353.90,23398.90,268279841,30151.67
246,14-JUN-2024,23464.95,23490.40,23334.25,23465.60,223086741,25746.34
247,18-JUN-2024,23570.80,23579.05,23499.70,23557.90,272207297,29389.75

In [19]:
df['range']=df.iloc[:,2] - df.iloc[:,2]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             248 non-null    object
 1   Open             248 non-null    float64
 2   High             248 non-null    float64
 3   Low              248 non-null    float64
 4   Close            248 non-null    float64
 5   Shares Traded    248 non-null    int64
 6   Turnover (₹ Cr)  248 non-null    float64
 7   range            248 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 15.6+ KB