In [1]:
# to work with MySQL you need to connect it with python

# way 1 to do this using MySQL connector

In [11]:
import mysql.connector as mysql
import pandas as pd

In [5]:
build_connection = mysql.Connect(
    host="localhost",
    user = "root",
    database= 'db1',
    password='1234'
)

In [6]:
cursor = build_connection.cursor()

In [12]:
pd.read_sql("select * from store",build_connection)

C:\Users\deves\AppData\Local\Temp\ipykernel_2232\2368026088.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from store",build_connection)

,id,order_id,order_date,shipment,customer_id,name,segment,city,state,post_code,region,category,sub_category,sales,qty,profit
0,1001,CA-2016-155488,2016-11-13,Standard Class,FM-14290,Frank Merwin,Home Office,Vancouver,Washington,98661,West,Office Supplies,Art,44.020,2,11.4452
1,1002,CA-2015-124891,2015-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,10024,East,Technology,Accessories,2309.650,7,762.1845
2,1003,CA-2015-124891,2015-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,10024,East,Furniture,Tables,1090.782,7,-290.8752
3,1004,CA-2015-124891,2015-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,10024,East,Office Supplies,Paper,19.440,3,9.3312
4,1005,CA-2015-126445,2015-08-27,Standard Class,RA-19945,Ryan Akin,Consumer,Murrieta,California,92563,West,Office Supplies,Storage,484.650,3,92.0835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1496,CA-2017-152485,2017-09-04,Standard Class,JD-15790,John Dryer,Consumer,Coppell,Texas,75019,Central,Office Supplies,Art,10.192,7,3.1850
496,1497,CA-2017-152485,2017-09-04,Standard Class,JD-15790,John Dryer,Consumer,Coppell,Texas,75019,Central,Office Supplies,Storage,16.784,1,-0.2098
497,1498,CA-2017-152485,2017-09-04,Standard Class,JD-15790,John Dryer,Consumer,Coppell,Texas,75019,Central,Office Supplies,Art,13.120,5,3.7720
498,1499,CA-2016-141586,2016-10-17,First Class,NK-18490,Neil Knudson,Home Office,San Francisco,California,94122,West,Office Supplies,Binders,18.160,5,6.5830
499,1500,CA-2017-130386,2017-11-12,Standard Class,NG-18430,Nathan Gelder,Consumer,Austin,Texas,78745,Central,Office Supplies,Paper,16.056,3,5.8203

# way 2 using SQLAlachemy
best if you want to build industri level projects

In [14]:
import sqlalchemy as sql

In [15]:
engine = sql.create_engine("mysql+mysqlconnector://root:1234@localhost/db1")

In [16]:
pd.read_sql("select * from store;",engine)

,id,order_id,order_date,shipment,customer_id,name,segment,city,state,post_code,region,category,sub_category,sales,qty,profit
0,1001,CA-2016-155488,2016-11-13,Standard Class,FM-14290,Frank Merwin,Home Office,Vancouver,Washington,98661,West,Office Supplies,Art,44.020,2,11.4452
1,1002,CA-2015-124891,2015-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,10024,East,Technology,Accessories,2309.650,7,762.1845
2,1003,CA-2015-124891,2015-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,10024,East,Furniture,Tables,1090.782,7,-290.8752
3,1004,CA-2015-124891,2015-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,10024,East,Office Supplies,Paper,19.440,3,9.3312
4,1005,CA-2015-126445,2015-08-27,Standard Class,RA-19945,Ryan Akin,Consumer,Murrieta,California,92563,West,Office Supplies,Storage,484.650,3,92.0835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1496,CA-2017-152485,2017-09-04,Standard Class,JD-15790,John Dryer,Consumer,Coppell,Texas,75019,Central,Office Supplies,Art,10.192,7,3.1850
496,1497,CA-2017-152485,2017-09-04,Standard Class,JD-15790,John Dryer,Consumer,Coppell,Texas,75019,Central,Office Supplies,Storage,16.784,1,-0.2098
497,1498,CA-2017-152485,2017-09-04,Standard Class,JD-15790,John Dryer,Consumer,Coppell,Texas,75019,Central,Office Supplies,Art,13.120,5,3.7720
498,1499,CA-2016-141586,2016-10-17,First Class,NK-18490,Neil Knudson,Home Office,San Francisco,California,94122,West,Office Supplies,Binders,18.160,5,6.5830
499,1500,CA-2017-130386,2017-11-12,Standard Class,NG-18430,Nathan Gelder,Consumer,Austin,Texas,78745,Central,Office Supplies,Paper,16.056,3,5.8203