In [1]:
class employee:
    num_of_employee = 0
    hike_per = 0.12
    
    def __init__(self, first,last,salary):
        self.first = first
        self.last = last
        self.salary = salary
        self.email = first + "." +  last + "@gmail.com"
        employee.num_of_employee += 1
    def fullname(self):
        
        return self.first + " " + self.last
        
    def hike_salary(self):
        self.salary = self.salary + (self.salary*employee.hike_per)

    @classmethod
    def clean_name(cls, emp_str):
        first, last, salary = emp_str.split("-")
        return cls(first, last, salary)

In [2]:
emp1 = employee("devesh","patwa",90000)

In [3]:
emp2 = employee("shivam","sahu",40000)

In [4]:
print(emp1)
print(emp2)

<__main__.employee object at 0x000002AD865D3BF0>
<__main__.employee object at 0x000002AD859D0710>

In [5]:
print(emp1.first)

devesh

In [6]:
print(emp2.last)

sahu

In [19]:
print(emp2.salary)

40000

In [23]:
print(emp1.email)

devesh.patwa@gmail.com

In [25]:
emp3 = employee("kartik","shrivastav",50000)

In [27]:
emp3.salary

50000

In [31]:
emp1.fullname()

'devesh patwa'

In [33]:
emp1.email

'devesh.patwa@gmail.com'

In [36]:
emp1.salary

90000

In [39]:
emp1.hike_salary()

In [40]:
emp1.salary

112896.0

In [42]:
emp1.hike_per = 0.18

In [43]:
emp1.hike_per

0.18

In [44]:
emp2 = employee("ravi","kumar",30000)

In [45]:
emp2.hike_per

0.12

In [46]:
emp2.salary

30000

In [47]:
emp2.hike_salary()

In [48]:
emp2.salary

33600.0

In [49]:
emp1.random = 200

In [50]:
emp1.__dict__

{'first': 'devesh',
 'last': 'patwa',
 'salary': 112896.0,
 'email': 'devesh.patwa@gmail.com',
 'hike_per': 0.18,
 'random': 200}

In [51]:
employee.__dict__

mappingproxy({'__module__': '__main__',
              'hike_per': 0.12,
              '__init__': <function __main__.employee.__init__(self, first, last, salary)>,
              'fullname': <function __main__.employee.fullname(self)>,
              'hike_salary': <function __main__.employee.hike_salary(self)>,
              '__dict__': <attribute '__dict__' of 'employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'employee' objects>,
              '__doc__': None})

## Practice

In [55]:
class car:
    def __init__(self,brand,model):
        self.brand = brand
        self.model = model
        self.name = self.brand+"_"+self.model

car1 = car("tata","nano")
print(car1.name)

tata_nano

In [56]:
print(car1.brand,car1.model)

tata nano

In [59]:
class student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print("it run")

In [60]:
s1 = student("ravi",24)

it run

In [4]:
employee.num_of_employee

2

In [8]:
stt = "Rakesh-lodhi-5000"
e1 = employee.clean_name(stt)

In [13]:
print(e1.first)

Rakesh

In [14]:
e1.salary

'5000'

In [15]:
e1.hike_salary

## Bank Account Class
Create a BankAccount class with attributes account_number, balance, and methods deposit(amount) and withdraw(amount). Write a method to display the account balance.

In [19]:
class bank_account:
    start_account = 10001
    def __init__(self,balance=0):
        self.balance = balance
        self.account_number = bank_account.start_account
        bank_account.start_account += 1

    def deposit(self,amount):
        self.balance += amount

    def withdraw(self,amount):
        self.balance -= amount

    def check_balance(self):
        return self.balance

In [20]:
devesh = bank_account()

In [21]:
devesh.deposit(9000)

In [27]:
devesh.check_balance()

8320

In [25]:
devesh.withdraw(340)

In [26]:
devesh

In [28]:
devesh.account_number

10001

In [29]:
piyush = bank_account()

In [31]:
piyush.check_balance()

0

In [32]:
piyush.account_number

10002




Car Class with Odometer
Write a Car class with attributes make, model, year, and mileage. Add a method drive(distance) that increases mileage. Prevent negative mileage.

Shopping Cart
Create a Product class and a ShoppingCart class. The cart should have methods add_product(product, quantity), remove_product(product), and total_price().

Bank Loan Eligibility
Design a Customer class with attributes name, income, and credit_score. Write a method is_eligible_for_loan() that returns True if income and credit score meet certain conditions.

University Course Registration
Make a Course class with attributes course_name, max_students, and a list of enrolled students. Add a method enroll_student(student) that prevents enrolling more than max students.

Polymorphism Example
Create a class Animal with a method make_sound(). Derive Dog and Cat classes that override make_sound(). Write a function that takes a list of animals and calls make_sound() on each.

## Library System
Design a Book class with attributes title, author, and copies. Add methods borrow_book() and return_book(). Ensure that a book cannot be borrowed if no copies are left.

In [41]:
class book:
    def __init__(self,title,author="Unknown",copies=1):
        self.title = title.title()
        self.author = author.title()
        self.copies = copies

# borrowing a book method
    def borrow_book(self):
        if self.copies == 0:
            return "No books left !!"
        else:
            self.copies -= 1
            return "Book has been allotted"

# now method for returning a book
    def return_book(self):
        self.copies += 1

# seeling all the info of book method
    def info(self):
        print("Title :",self.title)
        print("Author :",self.author)
        print("Number of copies lef :",self.copies)

In [42]:
morning = book("morning","devesh",2)

In [47]:
morning.info()

Title : Morning
Author : Devesh
Number of copies lef : 0

In [48]:
morning.borrow_book()

'No books left !!'

## Employee Management
Build an Employee class with attributes name, id, and salary. Write a method to increase salary by a given percentage.

In [55]:
class employee:
    base_increment = 0.098
    emp_id = 101

    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        self.id = employee.emp_id
        employee.emp_id += 1

    def salary_increment(self,increment=base_increment):
        self.salary = self.salary * (1+increment)

In [56]:
emp1 = employee("kunal sahu",35000)

In [61]:
emp1.__dict__

{'name': 'kunal sahu', 'salary': 38430.0, 'id': 101}

In [58]:
emp2 = employee("mohan kumar",90000)

In [63]:
emp2.__dict__

{'name': 'mohan kumar', 'salary': 90900.0, 'id': 102}

In [62]:
emp2.salary_increment(0.01)

## Student Grade System
Make a Student class with attributes name and a dictionary of subjects with marks. Add methods to calculate average marks and display grade (A, B, C, etc.) based on average.

In [7]:
class student:
    def __init__(self,name,subjects):
        self.name = name
        self.subjects = subjects
    def average_marks(self):
        total = 0
        marks = self.subjects.values()
        for i in marks:
            total += i
        return total/len(marks)

In [8]:
s1 = student("ravi",{"maths":56,"physics":99})

In [9]:
s1.average_marks()

77.5

In [10]:
s1.subjects

{'maths': 56, 'physics': 99}

## Inheritance in python
creating sub-class of developer which is an employee of an oreganisation using the main class employee and parent and sub class of developer as child

In [11]:
class employee:
    base_increment = 0.098
    emp_id = 101

    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        self.id = employee.emp_id
        employee.emp_id += 1

    def salary_increment(self,increment=base_increment):
        self.salary = self.salary * (1+increment)

class developer(employee):
    def __init__(self,name,salary,prog_language):
        super().__init__(name,salary)
        self.prog_language = prog_language

In [12]:
dev1 = developer("devesh",99000,"Python")

In [15]:
dev1.__dict__

{'name': 'devesh', 'salary': 99000, 'id': 101, 'prog_language': 'Python'}

In [16]:
employee.emp_id

102