In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
l = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'
l1 = 'https://stockedge.com/stocks/blue-dart-express/5869'

In [3]:
df = pd.read_html(l)

In [17]:
df = pd.read_html(l1)

In [4]:
df = df[2]

In [5]:
df.head()

  Country/Territory UN region IMF[1][13]            World Bank[14]             \
  Country/Territory UN region   Forecast       Year       Estimate       Year
0             World         —  109529216       2024      100562011       2022
1     United States  Americas   28781083       2024       25462700       2022
2             China      Asia   18532633  [n 1]2024       17963171  [n 3]2022
3           Germany    Europe    4591100       2024        4072192       2022
4             Japan      Asia    4110452       2024        4231141       2022

  United Nations[15]
            Estimate       Year
0           96698005       2021
1           23315081       2021
2           17734131  [n 1]2021
3            4259935       2021
4            4940878       2021

In [8]:
old = list(df.columns)
new = ['country','region','forcast','year','estimate','year1','estimate1','year2']

In [11]:
d = dict(zip(old,new))

In [14]:
a = df.rename(d,axis=1)

In [29]:
df[10]

,Stock Name,Statement,TTM Ending,Price Earning Ratio(TTM),LTP,Chg %
0,Adani Ports and Special Economic Zone Ltd.,Consolidated,2024-03,35.17,1320.35,-1.4%
1,Container Corporation Of India Ltd.,Consolidated,2023-12,52.76,1058.80,+0.8%
2,JSW Infrastructure Ltd.,Consolidated,2024-03,46.95,258.45,+0.4%
3,Delhivery Ltd.,Consolidated,2023-12,0.00,453.55,+0.7%
4,Aegis Logistics Ltd.,Consolidated,2023-12,42.99,641.60,-0.3%
5,The Great Eastern Shipping Company Ltd.,Consolidated,2023-12,6.08,1035.05,-2.5%
6,Shipping Corporation Of India Ltd.,Consolidated,2023-12,13.73,221.50,-2.7%