In [1]:
import pandas as pd

In [12]:
# cd for current data and prd for previous data 
cd,prd = pd.read_csv("application_data.csv"),pd.read_csv("previous_application.csv")

In [13]:
cd.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
prd

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,1171956,339569,Cash loans,NaN,0.0,0.0,NaN,NaN,THURSDAY,11,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
49995,1904808,363980,Cash loans,NaN,0.0,0.0,NaN,NaN,FRIDAY,10,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
49996,2331005,231295,Cash loans,22176.405,180000.0,216418.5,NaN,180000.0,TUESDAY,12,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-670.0,-340.0,-340.0,-338.0,1.0
49997,1960897,346691,Cash loans,NaN,0.0,0.0,NaN,NaN,WEDNESDAY,16,...,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
49998,1979352,363244,Cash loans,24909.390,360000.0,409896.0,NaN,360000.0,FRIDAY,18,...,XNA,36.0,high,Cash X-Sell: high,NaN,NaN,NaN,NaN,NaN,NaN

## keeping only imp data

In [15]:
imp_col1 =""" SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_HOUSING_TYPE
DAYS_BIRTH
DAYS_EMPLOYED
FLAG_MOBIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
AMT_REQ_CREDIT_BUREAU_MON
""".split()

In [16]:
cd = cd[imp_col1]

In [17]:
# col from prv file
colprv = """SK_ID_CURR
NAME_CONTRACT_STATUS
NAME_YIELD_GROUP
""".split()

In [18]:
prd1 = prd[colprv]

In [19]:
prd1

       SK_ID_CURR NAME_CONTRACT_STATUS NAME_YIELD_GROUP
0          271877             Approved           middle
1          108129             Approved       low_action
2          122040             Approved             high
3          176158             Approved           middle
4          202054              Refused             high
...           ...                  ...              ...
49994      339569              Refused              XNA
49995      363980             Canceled              XNA
49996      231295             Approved           middle
49997      346691             Canceled              XNA
49998      363244              Refused             high

[49999 rows x 3 columns]

In [20]:
cd

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,AMT_REQ_CREDIT_BUREAU_MON
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,Working,Secondary / secondary special,House / apartment,-9461,-637,1,1.0,2,0.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,State servant,Higher education,House / apartment,-16765,-1188,1,2.0,1,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,Working,Secondary / secondary special,House / apartment,-19046,-225,1,1.0,2,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,Working,Secondary / secondary special,House / apartment,-19005,-3039,1,2.0,2,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,Working,Secondary / secondary special,House / apartment,-19932,-3038,1,1.0,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,157871,0,Cash loans,F,N,N,0,180000.0,1206000.0,45936.0,Working,Higher education,House / apartment,-10667,-285,1,1.0,2,0.0
49995,157872,0,Cash loans,M,N,N,0,126000.0,1125000.0,47794.5,Commercial associate,Secondary / secondary special,House / apartment,-20211,-4651,1,2.0,2,0.0
49996,157873,0,Cash loans,M,N,N,1,112500.0,900000.0,26316.0,Working,Secondary / secondary special,With parents,-10280,-1158,1,3.0,2,0.0
49997,157874,0,Cash loans,F,N,Y,0,270000.0,820638.0,34897.5,Working,Secondary / secondary special,House / apartment,-23485,-2181,1,2.0,2,0.0
49998,157875,0,Cash loans,F,N,Y,0,117000.0,254700.0,14751.0,Pensioner,Higher education,House / apartment,-19251,365243,1,2.0,2,0.0

In [22]:
df = pd.merge(cd,prd1, on="SK_ID_CURR")

In [23]:
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_EDUCATION_TYPE,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,AMT_REQ_CREDIT_BUREAU_MON,NAME_CONTRACT_STATUS,NAME_YIELD_GROUP
0,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,Secondary / secondary special,House / apartment,-19932,-3038,1,1.0,2,0.0,Approved,high
1,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,Higher education,House / apartment,-13778,-3130,1,3.0,2,1.0,Approved,low_action
2,100012,0,Revolving loans,M,N,Y,0,135000.0,405000.0,20250.0,...,Secondary / secondary special,House / apartment,-14469,-2019,1,1.0,2,NaN,Approved,high
3,100026,0,Cash loans,F,N,N,1,450000.0,497520.0,32521.5,...,Secondary / secondary special,Rented apartment,-11146,-4306,1,3.0,3,0.0,Approved,low_normal
4,100027,0,Cash loans,F,N,Y,0,83250.0,239850.0,23850.0,...,Secondary / secondary special,House / apartment,-24827,365243,1,2.0,3,0.0,Refused,low_normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6836,157826,0,Cash loans,F,N,N,1,76500.0,639000.0,30739.5,...,Secondary / secondary special,House / apartment,-9654,-1359,1,3.0,2,0.0,Refused,low_normal
6837,157845,0,Cash loans,F,N,N,1,99000.0,269550.0,14751.0,...,Secondary / secondary special,House / apartment,-14128,-1073,1,3.0,3,0.0,Approved,high
6838,157851,0,Cash loans,F,N,Y,0,157500.0,239850.0,25317.0,...,Secondary / secondary special,House / apartment,-13560,-4154,1,2.0,2,0.0,Approved,low_normal
6839,157860,0,Cash loans,F,N,Y,0,301500.0,481495.5,36130.5,...,Higher education,House / apartment,-16635,-1704,1,2.0,2,0.0,Canceled,XNA
6840,157867,0,Revolving loans,F,N,Y,0,112500.0,180000.0,9000.0,...,Incomplete higher,Municipal apartment,-11476,-1112,1,2.0,2,0.0,Canceled,XNA