# Importign Library

In [1]:
import pandas as pd

# Loading Data File

In [2]:
df = pd.read_csv("Product Sales Data.csv")

In [3]:
df.head()

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,"1,116","4,28,700"
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,"3,003","13,74,831"
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,"2,962","7,32,167"
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,"1,004","3,77,100"
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,"1,52,287"

# Data Cleaning

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    object
 6   Sales         224 non-null    object
dtypes: object(7)
memory usage: 12.4+ KB

In [5]:
df['Sales'].astype(int)

ValueError: invalid literal for int() with base 10: ' 4,28,700 '

In [6]:
def clean_amount(num):
    return int(num.replace(",",""))

In [7]:
clean_amount("4,28,700")

428700

In [8]:
df['Sales'] = df['Sales'].apply(clean_amount)

In [9]:
df['Qty'] = df['Qty'].apply(clean_amount)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Month         224 non-null    object
 1   Channel       224 non-null    object
 2   Sub-Channels  224 non-null    object
 3   Product Name  224 non-null    object
 4   Category      224 non-null    object
 5   Qty           224 non-null    int64
 6   Sales         224 non-null    int64
dtypes: int64(2), object(5)
memory usage: 12.4+ KB

In [11]:
df.head()

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,AMAZON,ALOE + AMLA JUICE 1 L,Juices,1116,428700
1,01-Dec-20,Marketplace,AMAZON,ALOE + GARCINIA JUICE 1 L,Juices,3003,1374831
2,01-Dec-20,Marketplace,AMAZON,ALOE VERA JUICE 1 L,Juices,2962,732167
3,01-Dec-20,Marketplace,AMAZON,ALOE VERA SKIN GEL 500 GM,Gourmet Nutrition,1004,377100
4,01-Dec-20,Marketplace,AMAZON,NEEM JUICE 1 L,Juices,555,152287

In [12]:
df['Sub-Channels'] = df['Sub-Channels'].apply(lambda x: x.title())

In [13]:
df['Product Name'] = df['Product Name'].apply(lambda x: x.title())

In [14]:
df.head()

,Month,Channel,Sub-Channels,Product Name,Category,Qty,Sales
0,01-Dec-20,Marketplace,Amazon,Aloe + Amla Juice 1 L,Juices,1116,428700
1,01-Dec-20,Marketplace,Amazon,Aloe + Garcinia Juice 1 L,Juices,3003,1374831
2,01-Dec-20,Marketplace,Amazon,Aloe Vera Juice 1 L,Juices,2962,732167
3,01-Dec-20,Marketplace,Amazon,Aloe Vera Skin Gel 500 Gm,Gourmet Nutrition,1004,377100
4,01-Dec-20,Marketplace,Amazon,Neem Juice 1 L,Juices,555,152287

In [15]:
df['Month'].unique()

array(['01-Dec-20', '01-Jan-21', '01-Feb-21', '01-Mar-21'], dtype=object)

In [16]:
df['date'] = pd.to_datetime(df['Month'])
del df['Month']

C:\Users\deves\AppData\Local\Temp\ipykernel_8140\3873640194.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['Month'])

In [17]:
df.head()

,Channel,Sub-Channels,Product Name,Category,Qty,Sales,date
0,Marketplace,Amazon,Aloe + Amla Juice 1 L,Juices,1116,428700,2020-12-01
1,Marketplace,Amazon,Aloe + Garcinia Juice 1 L,Juices,3003,1374831,2020-12-01
2,Marketplace,Amazon,Aloe Vera Juice 1 L,Juices,2962,732167,2020-12-01
3,Marketplace,Amazon,Aloe Vera Skin Gel 500 Gm,Gourmet Nutrition,1004,377100,2020-12-01
4,Marketplace,Amazon,Neem Juice 1 L,Juices,555,152287,2020-12-01

# Data Analysis questions

## Q1. Find Category wise total sales

In [ ]:
df.groupby("Category")['Sales'].sum()

## Q2. Find top 5 most sold products
ignore the packaging quantity

In [28]:
df.groupby("Product Name")['Sales'].sum()

Product Name
Aloe + Amla Juice 1 L                                1964781
Aloe + Garcinia Juice 1 L                           12249252
Aloe Vera Juice 1 L                                  6024517
Aloe Vera Skin Gel 150 Gm                            2933281
Aloe Vera Skin Gel 500 Gm                            1806976
Amla + Giloy Juice 1 L                                217029
Amla Juice 1 L                                       5862740
Apple Cider Vinegar500 Grams                         4515393
Dia Free Juice 1 L                                   1519080
Get Slim Capsules 60 Caps                             335580
Get Slim Juice 1 L                                   9122552
Himalaya Oil 20 Grms                                12000055
Immune Care Juice 1 L                                 906168
Karela Jamun Juice 1 L                               2831031
Masala Supergrain Mix Energy 380 Gm ( Offline)        275046
Masala Supergrain Mix Immunity 400 Gm                 510337
Masala Supergrain Mix Immunity 400 Gm ( Offline)      270815
Neem Juice 1 L                                        704106
Noni Juice 1 L                                       4786064
Organic Gulkand 300Grams                             1053972
Organic Jaggery Powder 500 Grams                     1742024
Raw Honey ( Madhu) 500 Grams                          582600
Slim Shake - Chocolate 500 Gm                        1534411
Slim Shake - Mango 500 Gm                            1317327
Triphala Juice 1 L                                    798749
Tulsi Giloy Juice 1 L                                4143236
Vegan Protein - Chocolate 1 Kg                        851822
Vigor Max Juice 1 L                                   652500
Virgin Coconut Oil 250 Ml                            1717663
Wheat Grass Juice 1 L                                4524584
Name: Sales, dtype: int64

In [29]:
def clean_name(text):
    for i in text:
        if i.isdigit():
            return text.split(i)[0].strip()

In [30]:
clean_name("Virgin Coconut Oil 250 Ml ")

'Virgin Coconut Oil'

In [31]:
df['product name only'] =  df['Product Name'].apply(clean_name)

df.groupby("product name only")['Sales'].sum()

## Q3. Which month we had the heighest total sales

In [20]:
df.head()

,Channel,Sub-Channels,Product Name,Category,Qty,Sales,date,month name
0,Marketplace,Amazon,Aloe + Amla Juice 1 L,Juices,1116,428700,2020-12-01,December
1,Marketplace,Amazon,Aloe + Garcinia Juice 1 L,Juices,3003,1374831,2020-12-01,December
2,Marketplace,Amazon,Aloe Vera Juice 1 L,Juices,2962,732167,2020-12-01,December
3,Marketplace,Amazon,Aloe Vera Skin Gel 500 Gm,Gourmet Nutrition,1004,377100,2020-12-01,December
4,Marketplace,Amazon,Neem Juice 1 L,Juices,555,152287,2020-12-01,December

In [19]:
df['month name'] = df['date'].dt.month_name()

In [21]:
df.groupby("month name")['Sales'].sum().sort_values(ascending=False).head(1)

month name
March    25127827
Name: Sales, dtype: int64

## Q4. Top 3 products in each category

In [32]:
aggdf = df.groupby(["Category",'product name only'])['Sales'].sum()
aggdf

Category              product name only
Functional nutrition  Apple Cider Vinegar                4515393
                      Get Slim Capsules                   335580
                      Himalaya Oil                      12000055
                      Masala Supergrain Mix Energy        275046
                      Masala Supergrain Mix Immunity      781152
                      Slim Shake - Chocolate             1534411
                      Slim Shake - Mango                 1317327
                      Vegan Protein - Chocolate           851822
Gourmet Nutrition     Aloe Vera Skin Gel                 4740257
                      Organic Gulkand                    1053972
                      Organic Jaggery Powder             1742024
                      Raw Honey ( Madhu)                  582600
                      Virgin Coconut Oil                 1717663
Juices                Aloe + Amla Juice                  1964781
                      Aloe + Garcinia Juice             12249252
                      Aloe Vera Juice                    6024517
                      Amla + Giloy Juice                  217029
                      Amla Juice                         5862740
                      Dia Free Juice                     1519080
                      Get Slim Juice                     9122552
                      Immune Care Juice                   906168
                      Karela Jamun Juice                 2831031
                      Neem Juice                          704106
                      Noni Juice                         4786064
                      Triphala Juice                      798749
                      Tulsi Giloy Juice                  4143236
                      Vigor Max Juice                     652500
                      Wheat Grass Juice                  4524584
Name: Sales, dtype: int64

In [33]:
aggdf = pd.DataFrame(aggdf).reset_index()
aggdf

                Category               product name only     Sales
0   Functional nutrition             Apple Cider Vinegar   4515393
1   Functional nutrition               Get Slim Capsules    335580
2   Functional nutrition                    Himalaya Oil  12000055
3   Functional nutrition    Masala Supergrain Mix Energy    275046
4   Functional nutrition  Masala Supergrain Mix Immunity    781152
5   Functional nutrition          Slim Shake - Chocolate   1534411
6   Functional nutrition              Slim Shake - Mango   1317327
7   Functional nutrition       Vegan Protein - Chocolate    851822
8      Gourmet Nutrition              Aloe Vera Skin Gel   4740257
9      Gourmet Nutrition                 Organic Gulkand   1053972
10     Gourmet Nutrition          Organic Jaggery Powder   1742024
11     Gourmet Nutrition              Raw Honey ( Madhu)    582600
12     Gourmet Nutrition              Virgin Coconut Oil   1717663
13                Juices               Aloe + Amla Juice   1964781
14                Juices           Aloe + Garcinia Juice  12249252
15                Juices                 Aloe Vera Juice   6024517
16                Juices              Amla + Giloy Juice    217029
17                Juices                      Amla Juice   5862740
18                Juices                  Dia Free Juice   1519080
19                Juices                  Get Slim Juice   9122552
20                Juices               Immune Care Juice    906168
21                Juices              Karela Jamun Juice   2831031
22                Juices                      Neem Juice    704106
23                Juices                      Noni Juice   4786064
24                Juices                  Triphala Juice    798749
25                Juices               Tulsi Giloy Juice   4143236
26                Juices                 Vigor Max Juice    652500
27                Juices               Wheat Grass Juice   4524584

In [34]:
aggdf['rank'] = aggdf.groupby('Category')['Sales'].rank(ascending=False)
aggdf

                Category               product name only     Sales  rank
0   Functional nutrition             Apple Cider Vinegar   4515393   2.0
1   Functional nutrition               Get Slim Capsules    335580   7.0
2   Functional nutrition                    Himalaya Oil  12000055   1.0
3   Functional nutrition    Masala Supergrain Mix Energy    275046   8.0
4   Functional nutrition  Masala Supergrain Mix Immunity    781152   6.0
5   Functional nutrition          Slim Shake - Chocolate   1534411   3.0
6   Functional nutrition              Slim Shake - Mango   1317327   4.0
7   Functional nutrition       Vegan Protein - Chocolate    851822   5.0
8      Gourmet Nutrition              Aloe Vera Skin Gel   4740257   1.0
9      Gourmet Nutrition                 Organic Gulkand   1053972   4.0
10     Gourmet Nutrition          Organic Jaggery Powder   1742024   2.0
11     Gourmet Nutrition              Raw Honey ( Madhu)    582600   5.0
12     Gourmet Nutrition              Virgin Coconut Oil   1717663   3.0
13                Juices               Aloe + Amla Juice   1964781   9.0
14                Juices           Aloe + Garcinia Juice  12249252   1.0
15                Juices                 Aloe Vera Juice   6024517   3.0
16                Juices              Amla + Giloy Juice    217029  15.0
17                Juices                      Amla Juice   5862740   4.0
18                Juices                  Dia Free Juice   1519080  10.0
19                Juices                  Get Slim Juice   9122552   2.0
20                Juices               Immune Care Juice    906168  11.0
21                Juices              Karela Jamun Juice   2831031   8.0
22                Juices                      Neem Juice    704106  13.0
23                Juices                      Noni Juice   4786064   5.0
24                Juices                  Triphala Juice    798749  12.0
25                Juices               Tulsi Giloy Juice   4143236   7.0
26                Juices                 Vigor Max Juice    652500  14.0
27                Juices               Wheat Grass Juice   4524584   6.0

In [35]:
aggdf = aggdf[aggdf['rank'] <= 3]
aggdf

                Category       product name only     Sales  rank
0   Functional nutrition     Apple Cider Vinegar   4515393   2.0
2   Functional nutrition            Himalaya Oil  12000055   1.0
5   Functional nutrition  Slim Shake - Chocolate   1534411   3.0
8      Gourmet Nutrition      Aloe Vera Skin Gel   4740257   1.0
10     Gourmet Nutrition  Organic Jaggery Powder   1742024   2.0
12     Gourmet Nutrition      Virgin Coconut Oil   1717663   3.0
14                Juices   Aloe + Garcinia Juice  12249252   1.0
15                Juices         Aloe Vera Juice   6024517   3.0
19                Juices          Get Slim Juice   9122552   2.0

In [37]:
aggdf = aggdf.sort_values(by=['Category',"Sales"], ascending=[True,False]).drop(columns='rank')

In [38]:
aggdf.to_csv("final report.csv")

## Q5. Channel and subchannel wise total number of orders

In [ ]:
df.groupby(['Channel',"Sub-Channels"])['date'].count()\
                    .reset_index().rename(columns={'date':"Number of Orders"})\
                    .sort_values(by=['Channel',"Number of Orders"],ascending=False)

In [41]:
print("hello how \
are you")

hello how are you

In [44]:
df.groupby(['Channel',"Sub-Channels"])['date'].count().reset_index()\
.rename(columns={"date":"Number of orders"})

        Channel       Sub-Channels  Number of orders
0           D2C                D2C                30
1   Marketplace             Amazon                64
2   Marketplace         Big Basket                10
3   Marketplace           Flipkart                13
4   Marketplace              Goqii                 1
5       Offline  Offline - Central                 2
6       Offline     Offline - East                 8
7       Offline       Offline - Mt                28
8       Offline    Offline - South                23
9       Offline     Offline - West                34
10      Offline     Offline -North                11