## Conncting MySQL with Python

Installing MySQL and sqlalchemy in pc this is in row form run only when you need to install

pip install sqlalchemy

pip install mysql-connector-python

In [1]:
# importing mysql
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

you can use to **connect with any database** by using - "mysql+mysqlconnector://**username:password@localhost/dbname**"

In [24]:
user_name = "root"
password = "1234"
server = "localhost"
database = "db1"
engine = create_engine(f"mysql+mysqlconnector://{user_name}:{password}@{server}/{database}")

In [25]:
def run(query):
    df = pd.read_sql(query, con=engine)
    return df

In [26]:
run("select * from store where sale<=500")

,id,order_id,order_date,shipment,customer_id,name,segment,City,state,post_code,region,category,sub_category,sale,qty,profit
0,1,CA-2016-152156,2016-11-08,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.960,2,41.9136
1,3,CA-2016-138688,2016-06-12,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.620,2,6.8714
2,5,US-2015-108966,2015-10-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.368,2,2.5164
3,6,CA-2014-115812,2014-06-09,Standard Class,BH-11710,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Furnishings,48.860,7,14.1694
4,7,CA-2014-115812,2014-06-09,Standard Class,BH-11710,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.280,4,1.9656
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8827,9990,CA-2014-110422,2014-01-21,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,25.248,3,4.1028
8828,9991,CA-2017-121258,2017-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,91.960,2,15.6332
8829,9992,CA-2017-121258,2017-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Technology,Phones,258.576,2,19.3932
8830,9993,CA-2017-121258,2017-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,29.600,4,13.3200
8831,9994,CA-2017-119914,2017-05-04,Second Class,CC-12220,Chris Cortes,Consumer,Westminster,California,92683,West,Office Supplies,Appliances,243.160,2,72.9480

In [21]:
run("SHOW TAbles")

  Tables_in_db1
0     sale_year
1         sales
2         store

In [23]:
run("select * from sale_year")

   years  total_sales
0   2016     609206.0
1   2015     470533.0
2   2014     484247.0
3   2017     733215.0

In [29]:
run("select * from store where category = 'furniture'")

,id,order_id,order_date,shipment,customer_id,name,segment,City,state,post_code,region,category,sub_category,sale,qty,profit
0,1,CA-2016-152156,2016-11-08,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,2,CA-2016-152156,2016-11-08,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,4,US-2015-108966,2015-10-11,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
3,6,CA-2014-115812,2014-06-09,Standard Class,BH-11710,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,14.1694
4,11,CA-2014-115812,2014-06-09,Standard Class,BH-11710,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.3092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2116,9963,CA-2015-168088,2015-03-19,First Class,CM-12655,Corinna Mitchell,Home Office,Houston,Texas,77041,Central,Furniture,Bookcases,383.4656,4,-67.6704
2117,9965,CA-2016-146374,2016-12-05,Second Class,HE-14800,Harold Engle,Corporate,Newark,Delaware,19711,East,Furniture,Furnishings,13.4000,1,6.4320
2118,9981,US-2015-151435,2015-09-06,Second Class,SW-20455,Shaun Weien,Consumer,Lafayette,Louisiana,70506,South,Furniture,Tables,85.9800,1,22.3548
2119,9990,CA-2014-110422,2014-01-21,Second Class,TB-21400,Tom Boeckenhauer,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,4.1028
2120,9991,CA-2017-121258,2017-02-26,Standard Class,DB-13060,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,15.6332

In [34]:
run("drop table emp")
run("create table emp (name varchar(40),dep varchar(30),salary int)")

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [35]:
run("show tables")

  Tables_in_db1
0     sale_year
1         sales
2         store

In [37]:
run("insert into emp vales('devesh','sales',30000)")

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'vales('devesh','sales',30000)' at line 1
[SQL: insert into emp vales('devesh','sales',30000)]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [38]:
run("select * from emp")

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'db1.emp' doesn't exist
[SQL: select * from emp]
(Background on this error at: https://sqlalche.me/e/20/f405)

## its working only for query now to write the data