In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('medical_examination.csv')

In [3]:
df.shape

(70000, 13)

In [4]:
df.head(2).T

                   0        1
id               0.0      1.0
age          18393.0  20228.0
sex              2.0      1.0
height         168.0    156.0
weight          62.0     85.0
ap_hi          110.0    140.0
ap_lo           80.0     90.0
cholesterol      1.0      3.0
gluc             1.0      1.0
smoke            0.0      0.0
alco             0.0      0.0
active           1.0      1.0
cardio           0.0      1.0

In [5]:
df.nunique()

id             70000
age             8076
sex                3
height           109
weight           287
ap_hi            153
ap_lo            157
cholesterol        3
gluc               3
smoke              2
alco               2
active             2
cardio             2
dtype: int64

In [6]:
df.describe()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349843,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.477253,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,3.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
df_copy = df.copy()

### Dealing with all the messy data and outliears in the data frame one by one

converting values into useable format

In [8]:
df['age'] = round(df['age']/365).astype(np.int8)

In [9]:
df['sex'] = df.sex.replace(3,np.nan).replace([1,2],['Male','Female'])

In [10]:
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,Female,168,62.0,110,80,1,1,0,0,1,0
1,1,55,Male,156,85.0,140,90,3,1,0,0,1,1
2,2,52,Male,165,64.0,130,70,3,1,0,0,0,1
3,3,48,Female,169,82.0,150,100,1,1,0,0,1,1
4,4,48,Male,156,56.0,100,60,1,1,0,0,0,0

converting height from CM to Feets

In [11]:
df['height'] = round(df['height']*0.0328084,1)

In [12]:
df['cholesterol'] =  df['cholesterol'].map({1:'Normal',2:'High',3:'Very-high'})

In [13]:
df.head()

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,Female,5.5,62.0,110,80,Normal,1,0,0,1,0
1,1,55,Male,5.1,85.0,140,90,Very-high,1,0,0,1,1
2,2,52,Male,5.4,64.0,130,70,Very-high,1,0,0,0,1
3,3,48,Female,5.5,82.0,150,100,Normal,1,0,0,1,1
4,4,48,Male,5.1,56.0,100,60,Normal,1,0,0,0,0

In [28]:
df['gluc'] = df['gluc'].apply(lambda x: 0 if x==1 else 1)

In [36]:
cl=[]
cl.append(df.copy())

In [41]:
df = cl[0].copy()

In [48]:
df['smoke'] = df['smoke'].replace({1:'yes',0:'No'})

In [50]:
df['gluc'] = df['gluc'].replace({1:'yes',0:'No'})

In [51]:
df['alco'] = df['alco'].replace({1:'yes',0:'No'})

In [54]:
df['active'] = df['active'].replace({1:'yes',0:'No'})

In [55]:
df['cardio'] = df['cardio'].replace({1:'yes',0:'No'})