In [13]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("BangaloreZomatoData.csv")

In [3]:
df.head()

,Name,URL,Cuisines,Area,Timing,Full_Address,PhoneNumber,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,KnownFor,PopularDishes,PeopleKnownFor,AverageCost
0,Sri Udupi Park,https://www.zomato.com/bangalore/sri-udupi-par...,"South Indian, North Indian, Chinese, Street Fo...","Indiranagar, Bangalore",7am – 11pm (Today),"273, Monalisa, 6th Main, 100 Feet Road, Indira...",+919945977774,1,1,1,1,4.0,462,4.1,16000,NaN,"Filtered Coffee, Sambhar, Pav Bhaji, Gobi Manc...","Economical, Prompt Service, Hygiene, Quality F...",450
1,Meghana Foods,https://www.zomato.com/bangalore/meghana-foods...,"Biryani, Andhra, North Indian, Seafood","Indiranagar, Bangalore",Opens at 6:30pm,"544, First Floor, CMH Road, Near Indiranagar M...",+918041135050,1,1,1,0,4.3,1654,4.3,28600,Spicy Chicken Biryani,"Authentic Hyderabadi Biryani, Paneer Biryani, ...","Boneless Chicken Biryani, Ample Seating Area, ...",700
2,Donne Biriyani House,https://www.zomato.com/bangalore/donne-biriyan...,Biryani,"Indiranagar, Bangalore",11am – 11pm (Today),"8/ 9, 17th F Cross, 2nd Stage, Indiranagar, Ba...",+918861564169,1,1,1,0,3.9,411,3.5,33200,NaN,NaN,"Great Recommendations, Nice Taste, Great Ambia...",300
3,Domino's Pizza,https://www.zomato.com/bangalore/dominos-pizza...,"Pizza, Fast Food, Desserts","Indiranagar, Bangalore",10:57am – 12midnight (Today),"308, 2nd Stage, 100 Feet Road, Indiranagar, Ba...",+919916465787,1,1,1,0,2.4,422,4.4,8205,NaN,"Barbeque Chicken Pizza, Choco Lava Cake, White...","Value for Money, Packaging, Staff, Ambience, Food",400
4,KFC,https://www.zomato.com/bangalore/kfc-indiranagar,"Burger, Fast Food, Biryani, Desserts, Beverages","Indiranagar, Bangalore",11am – 11pm (Today),"38/1A, CMH Road, Indiranagar, Bangalore",+919513700040,1,1,1,0,2.8,673,4.0,9148,NaN,"Fiery Chicken, Chicken Popcorn, Rice Bowl, Wings","Elegantly Decorated, Great Recommendations, Vi...",400

In [4]:
# selecting only usefull columns
df=  df[[ 'Area','IsHomeDelivery', 'isTakeaway', 'isIndoorSeating',
       'isVegOnly', 'Dinner Ratings', 'Dinner Reviews', 'Delivery Ratings',
       'Delivery Reviews', 'AverageCost']]

In [5]:
df.head()

,Area,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,AverageCost
0,"Indiranagar, Bangalore",1,1,1,1,4.0,462,4.1,16000,450
1,"Indiranagar, Bangalore",1,1,1,0,4.3,1654,4.3,28600,700
2,"Indiranagar, Bangalore",1,1,1,0,3.9,411,3.5,33200,300
3,"Indiranagar, Bangalore",1,1,1,0,2.4,422,4.4,8205,400
4,"Indiranagar, Bangalore",1,1,1,0,2.8,673,4.0,9148,400

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Area              8923 non-null   object
 1   IsHomeDelivery    8923 non-null   int64
 2   isTakeaway        8923 non-null   int64
 3   isIndoorSeating   8923 non-null   int64
 4   isVegOnly         8923 non-null   int64
 5   Dinner Ratings    8923 non-null   object
 6   Dinner Reviews    8923 non-null   int64
 7   Delivery Ratings  8923 non-null   object
 8   Delivery Reviews  8923 non-null   int64
 9   AverageCost       8923 non-null   int64
dtypes: int64(7), object(3)
memory usage: 697.2+ KB

In [7]:
df['Dinner Ratings'].unique()

array(['4.0', '4.3', '3.9', '2.4', '2.8', '-', '4.1', '3.8', '4.2', '3.7',
       '4.8', '3.1', '4.9', '4.4', '2.7', '3.4', '3.6', '2.0', '3.2',
       '2.9', '4.6', '3.5', '3.3', '4.5', '2.3', '3.0', '4.7', '2.5',
       '2.6', '2.2', '2.1'], dtype=object)

In [8]:
df['Dinner Ratings'] = df['Dinner Ratings'].str.replace("-","0").astype(float)

In [9]:
df['Delivery Ratings'] = df['Delivery Ratings'].str.replace("-","0").astype(float)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8923 entries, 0 to 8922
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Area              8923 non-null   object
 1   IsHomeDelivery    8923 non-null   int64
 2   isTakeaway        8923 non-null   int64
 3   isIndoorSeating   8923 non-null   int64
 4   isVegOnly         8923 non-null   int64
 5   Dinner Ratings    8923 non-null   float64
 6   Dinner Reviews    8923 non-null   int64
 7   Delivery Ratings  8923 non-null   float64
 8   Delivery Reviews  8923 non-null   int64
 9   AverageCost       8923 non-null   int64
dtypes: float64(2), int64(7), object(1)
memory usage: 697.2+ KB

In [11]:
df.head()

,Area,IsHomeDelivery,isTakeaway,isIndoorSeating,isVegOnly,Dinner Ratings,Dinner Reviews,Delivery Ratings,Delivery Reviews,AverageCost
0,"Indiranagar, Bangalore",1,1,1,1,4.0,462,4.1,16000,450
1,"Indiranagar, Bangalore",1,1,1,0,4.3,1654,4.3,28600,700
2,"Indiranagar, Bangalore",1,1,1,0,3.9,411,3.5,33200,300
3,"Indiranagar, Bangalore",1,1,1,0,2.4,422,4.4,8205,400
4,"Indiranagar, Bangalore",1,1,1,0,2.8,673,4.0,9148,400

In [14]:
le = LabelEncoder()

In [16]:
df['Area'] =  le.fit_transform(df['Area'])