In [1]:
import pandas as pd

In [4]:
leave_data = pd.read_excel("leave_data.xlsx",sheet_name='leave')

# selecting only necessory column
leave_data =  leave_data[['Name','Leave Start Date','Leave End Date','Half Day/ Full Day?','Number of Days']]

In [5]:
leave_data

,Name,Leave Start Date,Leave End Date,Half Day/ Full Day?,Number of Days
0,Anjali Bohra,2022-03-21 00:00:00,2022-03-21 00:00:00,Full day,1.0
1,Devendra Patidar,2022-03-24 00:00:00,2022-03-26 00:00:00,Full day,3.0
2,Saheba Khan,2022-03-26 00:00:00,2022-03-26 00:00:00,Full day,1.0
3,Saheba Khan,2022-03-29 00:00:00,2022-03-29 00:00:00,Full day,1.0
4,Saheba Khan,2022-03-31 00:00:00,2022-03-31 00:00:00,Full day,1.0
...,...,...,...,...,...
396,Aditi Chawda,2025-05-02 00:00:00,2025-05-02 00:00:00,Full day,NaN
397,Purnima Khandelwal,2025-05-02 00:00:00,2025-05-06 00:00:00,Full day,NaN
398,Aditi Chawda,2025-05-07 00:00:00,2025-05-07 00:00:00,Full day,NaN
399,Purnima Khandelwal,2025-05-07 00:00:00,2025-05-07 00:00:00,Full day,NaN
400,Arvind Vishwakarma,2025-05-10 00:00:00,2025-05-10 00:00:00,Full day,NaN

In [7]:
a = leave_data.to_dict()

In [8]:
a.keys()

dict_keys(['Name', 'Leave Start Date', 'Leave End Date', 'Half Day/ Full Day?', 'Number of Days'])

In [14]:
length_of_dict = len(a['Name'])

In [11]:
data = pd.DataFrame()

In [28]:
temp_data = pd.DataFrame()
for i in range(length_of_dict):
    try :
        all_dates = pd.DataFrame(pd.date_range(start=a['Leave Start Date'][i].dt.date,end=a['Leave End Date'][i].dt.date))
        all_dates['Half Day/ Full Day'] = a['Half Day/ Full Day?'][i]
        all_dates['Name'] = a['Name'][i]
        pd.concat((temp_data,all_dates))
    except:
        pass
temp_data

Empty DataFrame
Columns: []
Index: []

In [17]:
all_dates = pd.DataFrame(pd.date_range(start=a['Leave Start Date'][0],end=a['Leave End Date'][0]))

In [26]:
pd.to_datetime(leave_data['Leave Start Date'])

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 30/11/0024, at position 303

In [29]:
temp_data

Empty DataFrame
Columns: []
Index: []